@{
    ViewData["Title"] = "";
}



<div class="text-center">
    <h1 class="display-4">Welcome to Metainterworks</h1>

</div>

<br />

<img src="../media/nasaEarthNight.jpg" alt="Earth from space">

<br />
<br />

<div class="text-center">
    <h1 class="display-4">Custom Software Solutions</h1>

</div>

