@{
    ViewData["Title"] = "About";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <br>
    <br>

    <img src="../media/Profile_Picture-Dean_Everhart.png" alt="Dean Everhart">

</div>

<br>

<!-- SECTION ONE -->

<h2>Dean Everhart</h2>
<blockquote> Developing web applications for the School Transportation Industry for four years using <Strong>Microsoft Stack (ASP.net MVC,C#, Azure)</Strong>, Dean has <Strong>twenty years computer IT (Information Technology) and IS (Information Systems) experience</Strong>, holding positions as varried as an entry level IT Tech in an advertising agency in Manhattan (NYC) to Director of Information Systems at <Strong>Cox Radio - Long Island &#8226; WBAB / WBLI Radio</Strong>; and in industries as varried as School Transportation, Private and Public Education, Wholesale and Retail, Manufacturing, as well as Advertising and Radio.</blockquote>

<blockquote>Dean has extensive experience working between American and Asian cultures, literally 'writing the book' - developing training material - for <Strong>Michael Kors, Inc.</Strong> on catering to Asian clientele.</blockquote>

<blockquote>Dean's work history includes...</blockquote>

<ul>
    <p></p>
    <h6><Strong>Transportation</Strong></h6>
    <li>ABA Transportation, Inc. (School Trasportation)</li>
    <li>Huntington Coach, Corp. (School Transportation)</li>
    <li>Tomko Carriers, Inc. (Trucking)</li>
    <li>AAA Carriers, Inc. (Trucking)</li>

    <p></p>
    <h6><Strong>Public and Private Education</Strong></h6>
    <li>Cold Spring Harbor and Three Village School Districts</li>
    <li>EJH Group, LLC. (Academic Tourism)</li>
    <p></p>

    <h6><Strong>Radio and Advertizing</Strong></h6>
    <li>Cox Media Group-Long Island - WBAB / WBLI<br></li>
    <li>Harrison & Star &#8226; HSBC  Advertising</li>

    <p></p>
    <h6><Strong>Manufacturing and Wholesale / Retail</Strong></h6>
    <li>Oasis Cosmetics Lab, Inc. (Pharmaceutical and Cosmetics Manufacturing)</li>
    <li>Max Finkelstein, Inc. (Wholesale / Retail)</li>
</ul>
