@{
    ViewData["Title"] = "";
}
<p></p>

@*  <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
  <br>
    <br>

    <img src="../media/Profile_Picture-Dean_Everhart.png" alt="Dean Everhart">

</div>
<br />
<br />

<h1 class="text-center">"We've been waiting for you..."</h1>*@





@*<div class="text-center">
    <h1 class="display-4">Welcome 1</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@
