@{
    ViewData["Title"] = "";
}


@*
<style>
    body
    {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Images/nasaEarthNight.jpg");
        height: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
</style>*@


    <h1 class="text-center">Welcome to Metainterwebs</h1>

<br />

<img src="../Images/nasaEarthNight.jpg" alt="Earth from space">

<br />
<br />
<h1 class="text-center">"We've been waiting for you..."</h1>
    

@*<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body, html {
            height: 100%;
            margin: 0;
        }

        .bg {
            /* The image used */
            background-image: url("../Images/nasaEarthNight.jpg" alt="Earth from space");
            /* Full height */
            height: 100%;
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body>*@
@*
    <div class="bg"></div>

    <p>This example creates a full page background image. Try to resize the browser window to see how it always will cover the full screen (when scrolled to top), and that it scales nicely on all screen sizes.</p>

</body>
</html>
*@






@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

@*<div class="jumbotron">
    <h1>Welcome to the meta-inter-webs</h1>
</div>*@

@*<div class="row">*@

    @*        <h2>Welcome to meta-inter-webs</h2>*@
    @*        <p>
    Contoso University is a sample application that
    demonstrates how to use Entity Framework Core in an
    ASP.NET Core MVC web application.
    </p>*@

@*</div>*@

@*<div class="row">
    <div class="col-md-4">
        <h2>We've been waiting for you.</h2>
        @*<p>
        Contoso University is a sample application that
        demonstrates how to use Entity Framework Core in an
        ASP.NET Core MVC web application.
        </p>*@
    @*</div>
</div>*@
